*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url("t1.jpg");
    background-repeat: no-repeat;
    position: fixed;
    background-size: cover;
}
.rt{
  animation-name: text;
}
ul{
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
  }
  img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 10px;
    margin-left: 350px;
  }
  li{
    float: left;
    margin-left: 100px;
  }
  
  li a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    color: black;
  }
  li a:hover{
    background-color: rgb(211, 239, 244);
    color: brown;
  }
  .rv{
    text-align: center;
    font-size: 40px;
    font-style: italic;
    font-weight: 500;
    text-shadow: 1px 1px silver;
    animation-name: rajat;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-top: -6%;
  }
  @keyframes rajat{
    0% {color: red;}
    20% {color: rgb(246, 250, 8);}
    40% {color: rgb(16, 17, 17);}
    60% {color: rgb(12, 114, 44);}
    80% {color: rgb(249, 144, 6);}
    100% {color: rgb(72, 25, 202);}
  }
.rv a{
  text-decoration: none;
  animation-name: plan;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes plan{
  0% {color: red;}
    20% {color: rgb(246, 250, 8);}
    40% {color: rgb(16, 17, 17);}
    60% {color: rgb(12, 114, 44);}
    80% {color: rgb(249, 144, 6);}
    100% {color: rgb(72, 25, 202);}
}
.rv a:hover{
  background-color: transparent;
  border: 1px solid ;
}